.main-league {
  background-color: #00002f;
  background-image: url("../../assets/images/league/bg.png");
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-league header {
  font-size: 3rem;
  text-align: center;
}

.main-league .page {
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 2%;
  border-radius: 1rem;
  background-color: rgba(21, 21, 85, 0.1);
  width: 96%;
  backdrop-filter: blur(0.4rem);
  border: 2px solid #151555;
  box-shadow: 0 0 10rem rgb(21, 21, 85) inset, 0 0 0.5rem #000;
}

.main-league section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-league img {
  width: 100%;
  height: auto;
  object-fit: contain;
  max-height: 50vh;
  max-width: 50vw;
}
