.main-n {
  background-image: url("../../assets/images/n/bg.png");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-color: #797988;
}

.main-n .page {
  background-color: #cacad0;
  border: 24px solid rgb(121, 121, 136);
  padding: 24px;
  color: #000;
}

.main-n header {
  font-size: 3rem;
  text-align: center;
  text-shadow: -0.2rem 0.2rem 0.05rem rgba(121, 121, 136, 0.25);
}

.main-n a {
  color: #882222;
  text-decoration: none;
}

.main-n a:hover,
.main-n a:active {
  color: #ffffcc;
}

.main-n .overview {
  text-align: justify;
  text-indent: 24px;
  margin-top: 24px;
}

.main-n .overview img {
  margin-bottom: 24px;
}

.main-n p {
  margin: 0;
  margin-bottom: 24px;
}

.main-n .panels {
  text-align: center;
}

.main-n .panels div {
  margin: 24px;
  display: inline-block;
  text-align: center;
}

.main-n .panels div a img {
  opacity: 0.8;
  max-height: 70vh;
}

.main-n .panels div a:hover img {
  opacity: 1;
}

.main-n .panels div span {
  font-size: 1.5rem;
}

.main-n h2 {
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
  text-shadow: -0.15rem 0.15rem 0.05rem rgba(121, 121, 136, 0.25);
}

@media screen and (max-width: 768px) {
  .main-n .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-n .overview img {
    max-width: 100%;
    height: auto;
  }

  .main-n .panels div img {
    width: 100%;
  }
}

@media not screen and (max-width: 768px) {
  .main-n .overview {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .main-n .overview img {
    max-width: 30%;
    height: auto;
  }
  .main-n .overview img {
    margin-left: 24px;
  }
}
