.main-n {
  background-image: url("../../assets/images/n/bg.png");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-color: #d4d3ac;
  text-shadow: -0.1rem 0.1rem 0 rgba(121, 121, 136, 0.5);
}

.main-n .page {
  background-color: #cacad0;
  border: 24px solid rgb(121, 121, 136);
  padding: 24px;
  color: #797988;
}

.main-n header {
  font-size: 3rem;
  text-align: center;
}
