.main-n {
  background-image: url("../../assets/images/n/bg.png");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-color: #a4a3ab;
}

.main-n .page {
  background-color: #cacad0;
  border: 24px solid rgb(121, 121, 136);
  padding: 24px;
  color: #000;
}

.main-n header {
  font-size: 3rem;
  text-align: center;
}

.main-n a {
  color: #882222;
  text-decoration: none;
}

.main-n a:hover,
.main-n a:active {
  color: #ffffcc;
}

.main-n .overview,
.main-n .pack-overview {
  text-align: justify;
  text-indent: 24px;
  margin-top: 24px;
}

.main-n .pack-overview {
  margin: 24px auto;
}

.main-n .overview img {
  margin-bottom: 24px;
}

.main-n p {
  margin: 0;
  margin-bottom: 24px;
}

.main-n .hr {
  width: 100%;
  height: 24px;
  margin: 24px 0;
  background-color: #797988;
}

.main-n .panels {
  text-align: center;
}

.main-n .panels div {
  margin: 24px;
  display: inline-block;
  text-align: center;
}

.main-n .panels div a img {
  opacity: 0.8;
  max-height: 70vh;
}

.main-n .panels div a:hover img {
  opacity: 1;
}

.main-n .panels div span {
  font-size: 1.5rem;
}

.main-n h2 {
  text-align: center;
  font-weight: normal;
  font-size: 2.5rem;
  margin: 0;
  margin-bottom: 24px;
}

.main-n .download {
  text-align: center;
  font-size: 2rem;
}

.main-n .download a {
  display: inline-block;
  margin: 24px;
}

.main-n .carousel figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30rem;
  margin: 0;
  padding: 24px;
}

.main-n .product-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #79798888;
  background-image: url("../../../public/img/icon-bw.gif");
  background-position: 0.5rem 0.5rem;
  background-repeat: no-repeat;
  margin-right: 24px;
  height: 30rem;
}

.main-n .product-description {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-n .product-description p {
  margin: auto 24px;
  text-align: center;
}

.main-n button {
  padding: 1rem;
  cursor: pointer;
  background-color: #79798888;
  color: #fff;
  border: none;
  font-size: 1.5rem;
}

.main-n button:hover {
  background-color: #797988;
  color: #cacad0;
}

.main-n .product-carousel figcaption {
  display: none;
}

.main-n .product-carousel button {
  margin: 0 24px;
  padding: 1rem 24px;
}

.main-n .screenshots {
  display: flex;
  flex-direction: column;
}

.main-n .product-carousel .lightbox-trigger,
.main-n .screenshots img {
  max-width: 80%;
  max-height: 40vh;
  cursor: pointer;
}

.main-n .screenshots img {
  margin-top: auto;
}

.main-n .carousel-controls {
  margin-top: auto;
}

.main-n .map-item-selected {
  display: flex;
}

.main-n .map-item-selected .details {
  display: flex;
  flex-direction: column;
}

.main-n .map-item-selected .details p {
  text-align: justify;
}

.main-n .map-item-selected .details .buttons {
  margin-top: auto;
  display: flex;
  flex-direction: row;
}

.main-n .map-item-selected .details .buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #797988;
  margin: 0 12px;
  padding: 12px;
  font-size: 1.2rem;
  color: #cacad0;
  border: 1px solid transparent;
}

.main-n .map-item-selected .details .buttons a:hover,
.main-n .map-item-selected .details .buttons a:focus {
  background-color: #000;
  color: #fff;
}

.main-n .map-item-selected .details .buttons a:active {
  border: 1px solid #797988;
  background-color: transparent;
  color: #000;
}

.main-n .map-item {
  display: flex;
  cursor: pointer;
  margin-top: 24px;
  opacity: 0.85;
}

.main-n .map-item:hover,
.main-n .map-item:focus {
  opacity: 1;
}

.main-n .map-item .details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-n h3 {
  font-weight: normal;
  margin: 0;
  margin-bottom: 12px;
}

.main-n .tags {
  text-align: right;
}

.main-n .tags span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #797988;
  color: #cacad0;
  padding: 6px;
  font-size: smaller;
  border: 1px solid transparent;
}

.main-n .tags .selected {
  background-color: #fff;
  color: #797988;
}

.main-n .tags span:hover,
.main-n .tags span:focus {
  background-color: #000;
  color: white;
}

.main-n .tags span:active {
  background-color: #cacad0;
  border: 1px solid #797988;
  color: black;
}

.main-n .thumb {
  background-color: #797988;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-n .thumb img {
  aspect-ratio: 1.32;
  object-fit: cover;
}

.main-n .recommended {
  text-align: center;
}

.carousel-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 30rem;
  width: 100%;
  max-width: calc(100vw - 96px);
  aspect-ratio: 1.32;
  background-color: rgba(0, 0, 0, 0.2);
}

.main-screenshot {
  max-width: calc(100vw - 96px);
  object-fit: contain;
  height: auto;
  width: 100%;
  max-height: 30rem;
}

.thumbnail-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  opacity: 0.4;
  transition: opacity 0.2s linear;
}

.carousel-container:hover .thumbnail-container {
  opacity: 1;
}

.thumbnail {
  display: inline-block;
  max-height: 5rem;
  cursor: pointer;
  margin: 0 5px;
  object-fit: contain;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  padding: 0.2rem;
}

.thumbnail img {
  opacity: 0.5;
}

.thumbnail:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.8);
}

.thumbnail:hover img {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .main-n .overview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-n .overview img {
    max-width: 100%;
    height: auto;
  }

  .main-n .panels div img {
    width: 100%;
  }

  .main-n .product {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
  }

  .main-n .product-carousel {
    width: 100%;
    text-align: center;
  }

  .main-n .product-description {
    margin: 24px 0;
  }

  .main-n .product button {
    margin-top: 24px;
  }

  .header-d {
    display: none;
  }

  .main-n .map-item {
    display: inline-flex;
    flex-direction: column;
    border: 24px solid #797988;
    max-width: calc(13.2rem + 48px);
    margin-left: 12px;
    margin-right: 12px;
  }

  .main-n .map-item h3 {
    text-align: center;
  }

  .main-n .map-item p {
    text-align: center;
  }

  .main-n .thumb {
    text-align: center;
  }

  .main-n .thumb img {
    height: 10rem;
  }

  .main-n .map-item-selected {
    flex-direction: column;
  }

  .main-n .map-item-selected .tags span {
    margin-bottom: 6px;
    margin-left: 6px;
  }

  .main-n .map-item-selected .details .buttons {
    flex-direction: column;
  }

  .main-n .map-item-selected .details .buttons a {
    margin: 12px 0;
  }

  .main-n .map-item .tags span {
    margin-left: 6px;
    margin-top: 6px;
  }

  .main-n .map-item .details {
    padding: 6px;
  }

  .main-n h3 {
    font-size: 1.4rem;
  }

  .main-n .media {
    margin-bottom: 6px;
  }
}

@media not screen and (max-width: 768px) {
  .main-n .overview {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }

  .main-n .overview img {
    max-width: 30%;
    height: auto;
  }

  .main-n .overview img {
    margin-left: 24px;
  }

  .main-n .pack-overview {
    width: 60%;
  }

  .main-n .product {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
  }

  .main-n .product-carousel {
    width: 150%;
    text-align: center;
  }

  .header-m {
    display: none;
  }

  .main-n .map-item {
    flex-direction: row;
  }

  .main-n .map-item .tags {
    margin-top: auto;
  }

  .main-n .map-item .details {
    border: 24px solid #797988;
  }

  .main-n .thumb img {
    height: 15rem;
  }

  .main-n .map-item-selected {
    flex-direction: row;
  }

  .main-n .map-item-selected .tags span {
    margin-bottom: 12px;
    margin-left: 12px;
  }

  .main-n .map-item .tags span {
    margin-left: 12px;
    margin-top: 12px;
  }

  .main-n .map-item .details {
    padding: 12px;
  }

  .main-n h3 {
    font-size: 2rem;
  }

  .main-n .map-item-selected .details {
    padding-left: 24px;
    width: 100%;
  }

  .main-n .media,
  .map-item-selected .details {
    width: 50%;
  }
}
