.main-cards .page {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative; /* Added position property */
  z-index: 0; /* Set z-index to 0 */
}

.main-cards .card-container {
  display: inline-block;
  perspective: 20em;
  position: relative; /* Added position property */
}

.main-cards .card {
  position: relative;
  background-size: cover;
  background-position: center center;
  margin: 2vw;
  width: 30vw;
  max-width: 25vmin;
  aspect-ratio: 0.7143;
  border-radius: 1.5vmin;
  transition: transform 0s linear;
  overflow: hidden;
  pointer-events: none;
  text-align: left;
  z-index: 1; /* Changed from -1 to 1 */
}

.main-cards .card-container:hover {
  z-index: 2; /* Increased z-index when card-container is hovered */
}

.main-cards .card-container:hover .card {
  z-index: 3; /* Set z-index higher than card-container when card is hovered */
}

.main-cards .card-holo {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-dodge;
  background-size: 120%;
  background-repeat: no-repeat;
}

.main-cards .card-border {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.main-cards .border-0 {
  background-image: url("../../../public/img/cards/border-0.png");
}
.main-cards .border-1 {
  background-image: url("../../../public/img/cards/border-1.png");
}
.main-cards .border-2 {
  background-image: url("../../../public/img/cards/border-2.png");
}
.main-cards .border-3 {
  background-image: url("../../../public/img/cards/border-3.png");
}

.main-cards .card-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  padding: 1.5vmin;
}

.main-cards .card-header {
  display: flex;
  flex-direction: row;
}

.main-cards .card h1 {
  display: flex;
  justify-content: center;
  line-height: 2.5vmin;
  text-align: center;
  font-weight: normal;
  font-size: 2.5vmin;
  margin: 0;
  width: 100%;
  min-height: 4vmin;
  margin-right: auto;
  text-shadow: 0 0 0.4vmin black;
}

.main-cards .card p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  width: 100%;
  text-align: center;
  margin-top: auto;
  font-size: 1.75vmin;
  text-shadow: 0 0 0.2vmin black;
}
