.main-games {
  background-color: #00c9ea;
  background-image: url("../../assets/images/games/bg.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.main-games .page {
  background-color: #fff;
  color: #000;
  overflow-x: hidden;
}

.main-games header {
  background-color: #000;
}

.main-games header h1 {
  margin: 0;
  font-weight: normal;
  font-size: 6rem;
  text-align: center;
  padding: 2rem;
  color: #fcd116;
}

.main-games h1 span {
  font-weight: bold;
}

.main-games h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: normal;
}

.main-games .overview-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: linear-gradient(
    to top left,
    rgb(212, 105, 5),
    rgb(212, 147, 6),
    rgb(179, 124, 5)
  );
  color: #fff;
  font-size: 1.1rem;
  padding: 2rem 0;
  text-shadow: -1px 1px 1px rgb(179, 88, 3);
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.6);
}

.main-games .emblem {
  width: 15%;
  text-align: center;
}

.main-games .emblem img {
  margin-top: 1.5rem;
  width: 100%;
  height: auto;
}

.main-games article {
  text-align: center;
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .main-games .overview-container {
    flex-direction: column;
  }

  .main-games .overview {
    font-size: 0.9rem;
    text-align: center;
    width: 80%;
  }
}
@media not screen and (max-width: 768px) {
  .main-games .overview-container {
    flex-direction: row;
  }

  .main-games .overview {
    width: 50%;
    text-align: left;
  }
}
