* {
  color: #444;
}

:root {
  --col-bg: 227, 218, 201; /* bone */
  --col-fg: 242, 243, 244; /* anti-flash white */
  --col-hl: 229, 89, 52; /* cinnabar */
  --shadow: rgba(0, 0, 0, 0.08);
}

body {
  background: linear-gradient(rgb(var(--col-fg)), rgb(var(--col-bg)) 50%);
}

nav {
  background: rgb(var(--col-hl))
    linear-gradient(-60deg, var(--shadow), transparent);
}

nav * {
  color: rgb(var(--col-fg));
}

nav a:hover {
  background-color: rgb(var(--col-hl));
}

nav div {
  color: rgb(var(--col-bg));
}

nav div i {
  color: rgb(var(--col-bg));
}

nav i {
  height: 1em;
  margin: 0;
  padding-bottom: 1.5em;
  vertical-align: middle;
}

nav a:hover div {
  color: rgb(var(--col-fg));
}

nav a:hover div i {
  color: rgb(var(--col-fg));
}

nav h1 #top {
  background: transparent;
}

nav h1 a:hover {
  background: transparent;
}

#mode-switch div {
  background-image: url("img/mode-light.png");
}

#title span {
  opacity: 0;
}

h1,
h2,
h1 *,
h2 *,
nav a:not(#top) div {
  font-family: "Gloock", serif;
  font-weight: 400;
}

header {
  justify-content: center;
}

header h1,
header h2 {
  color: rgb(var(--col-hl));
}

article h2 {
  color: #000;
}

header p {
  background-color: rgba(var(--col-fg), 0.5);
  border: 1px solid #ddd;
  border-radius: 1em;
  box-shadow: 0 0.25em 2em var(--shadow);
}

.ga {
  background-image: url("img/greeble-a.png");
}

.gb {
  background-image: url("img/greeble-b.png");
}

.gc {
  background-image: url("img/greeble-c.png");
}

.gd {
  background-image: url("img/greeble-d.png");
}

.garray2 {
  opacity: 0.2;
  background-image: url("img/greeble-array-cross.png");
}

strong {
  color: #000;
}

article {
  border-bottom: 1px solid #ccc;
  background-color: rgb(var(--col-fg));
  box-shadow: 0 0.5em 1em var(--shadow);
}

article h1 span {
  border-bottom: 3px solid rgb(var(--col-hl));
}

.subsection-header {
  color: #444;
  border-bottom: 1px solid #ccc;
}

summary {
  border-bottom: 1px solid #ccc;
}

#contact {
  background-color: rgb(var(--col-hl));
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0;
}

#contact p {
  color: rgb(var(--col-bg));
  font-weight: 600;
}

#contact h1 span {
  border-bottom: 3px solid rgb(var(--col-bg));
  color: rgb(var(--col-fg));
}

#contact a {
  color: #fff;
}

.case-study summary {
  color: #444;
}

@media screen and (min-width: 740px) {
  nav {
    border-bottom: 3px solid rgb(var(--col-hl));
  }
  nav a:hover {
    background: linear-gradient(#e86c4a, rgb(var(--col-hl)));
  }

  #hftitle {
    margin-bottom: 0.5rem;
    padding: 0 1em;
  }

  header p {
    width: 35vw;
  }

  .gband {
    height: 100vh;
    width: 7.5vw;
    right: 3.75vw;
    background: linear-gradient(transparent, rgb(var(--col-bg)));
  }

  .garray1,
  .garray2 {
    top: 0;
    width: 30vw;
    height: 100vh;
    min-height: 60rem;
  }

  .garray1 {
    right: 0;
  }

  .garray2 {
    left: 0;
  }

  #contact div {
    width: 100%;
    margin: 0.25rem;
    padding: 0.25rem;
    border: 0.25rem solid rgba(var(--col-bg), 0.3);
    border-radius: 1rem;
  }
}
@media screen and not (min-width: 740px) {
  nav h1 {
    margin-bottom: auto;
  }
  nav {
    border-right: 0.25rem solid rgb(var(--col-hl));
  }
  nav a:hover {
    background: linear-gradient(to right, #e86c4a, rgb(var(--col-hl)));
  }
  header h1 {
    font-size: 2rem;
  }
  header h2 {
    border-bottom: 3px solid rgb(var(--col-bg));
  }

  header p {
    width: 70%;
    padding: 2em;
  }

  #container {
    border-left: 0.25rem solid rgb(229, 128, 97);
  }

  .gband {
    background: linear-gradient(rgb(var(--col-bg)), rgb(var(--col-hl)));
    opacity: 0.6;
    height: 10vh;
    width: 2rem;
    left: 6rem;
  }

  .garray1,
  .garray2 {
    left: 0;
    width: 100vw;
    height: 10vh;
  }

  .garray1 {
    bottom: 0;
  }

  .garray2 {
    background-position: bottom;
    top: 0;
  }

  article {
    border-radius: 0 2em 0 0;
    margin: 1rem 1rem 0 0;
  }

  #contact div {
    width: 100%;
    margin: 0.25rem 0.25rem 0.25rem 0;
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;
    border-top: 0.25rem solid rgba(var(--col-bg), 0.3);
    border-right: 0.25rem solid rgba(var(--col-bg), 0.3);
    border-bottom: 0.25rem solid rgba(var(--col-bg), 0.3);
    border-radius: 0 2em 0 0;
  }
}
