@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c1c1c1;
  font-family: "Dosis", sans-serif;
}

button {
  font-family: "Dosis", sans-serif;
}

.main-doom {
  background-color: #300500;
  background-image: url("assets/bg-doom.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-league {
  background-image: url("assets/images/league/bg.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.page {
  max-width: 1280px;
  margin: auto;
  padding-bottom: 2rem;
  color: #eee;
}

article {
  margin: 2em;
}

.overview {
  width: 80%;
  max-width: 720px;
  margin: 2rem auto;
}

.overview p {
  text-align: center;
}
