.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms;
}

.cards-container {
  text-align: center;
}

.main-cards .buttons {
  display: flex;
}

.main-cards .buttons button {
  width: 80%;
  margin: auto;
  margin-top: 5vmin;
  height: 6vmin;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #c0c0c0;
  color: var;
  text-align: center;
  font-size: 3vmin;
  transition-duration: 0.4s;
  text-decoration: none;
  display: inline-block;
  border-radius: 1vmin;
  cursor: pointer;
  box-shadow: 0 0 15px #c0c0c041;
  text-shadow: 0 0 10px #c0c0c0;
}

.main-cards .buttons button:hover {
  background-color: #80808080;
  color: white;
  box-shadow: 0 0 15px #ffffff80;
  text-shadow: 0 0 10px #ffffff80;
}
