.main-cards {
  color-scheme: dark;
}

.main-cards h1 {
  margin: 0;
  margin-top: 5vh;
  font-size: 3.5rem;
}

.main-cards h2 {
  margin: 0;
  font-size: 2rem;
  margin-bottom: 5vh;
}

.main-cards h1,
.main-cards h2 {
  font-weight: normal;
  line-height: normal;
  text-shadow: 0 0 2rem rgba(245, 205, 125, 1), 0 -3px 2px black;
  text-align: center;
}

.main-cards .tag {
  display: inline-block;
  cursor: pointer;
  border: 1px solid white;
  padding: 0.1rem;
  margin: 0.1rem;
  border-radius: 0.25rem;
  opacity: 0.5;
}

.main-cards .tag:hover {
  opacity: 1;
  background-color: white;
  color: #000;
}

.main-cards .view-buttons {
  width: calc(100% - 4vmin);
  display: flex;
  flex-direction: row;
  margin: 1vmin;
  vertical-align: top;
}

.main-cards .view-buttons button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: auto;
  background: linear-gradient(to bottom, white, lightgray);
  padding: 12px;
  font-size: 1.2rem;
  text-shadow: 0 1px 1.5px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border-radius: 1vmin;
  cursor: pointer;
  color: black;
  border-bottom: 2px solid gray;
}

.main-cards .view-buttons .page-number {
  border: 1px solid #ffffff11;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0 1vmin;
  padding: 12px;
  font-size: min(1rem, 2.7vmin);
  text-decoration: none;
  border-radius: 1vmin;
  color: #bbb;
  background-color: #00000011;
  box-shadow: 0 0 1.5vmin #00000066 inset;
}

.main-cards .view-buttons button img {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
  margin: 0 0.5rem;
}

.main-cards .view-buttons button:disabled,
.main-cards .view-buttons button[disabled],
.main-cards .view-tools-dropdown button:disabled,
.main-cards .view-tools-dropdown button[disabled],
.main-cards .sort-filter.disabled {
  background: gray;
  cursor: default;
  opacity: 0.5;
}

.main-cards .sort-filter div,
.main-cards .sort-filter img {
  pointer-events: none;
}

.main-cards .view-buttons button:hover:not(:disabled) {
  text-shadow: none;
  background: lightgray;
}

.main-cards .view-buttons button:focus:not(:disabled) {
  outline: 3px double rgba(70, 255, 240, 0.5);
}

.main-cards .view-buttons button:active:not(:disabled) {
  position: relative;
  top: 2px;
  border-bottom: none;
  background: gray;
}

.main-cards .view-buttons button:not(:last-child) {
  margin-right: 1vmin;
}

.main-cards .view-buttons:not(.view-tools) button:not(:first-child) {
  margin-left: 1vmin;
}

.main-cards .view-tools button {
  margin-left: 2vmin;
}

.main-cards .dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.main-cards .dropdown-container select {
  padding: 0.5em;
  font-size: 1em;
}

.main-cards .dropdown-container button {
  padding: 0.5em 1em;
  font-size: 1em;
  margin-left: 1em;
  cursor: pointer;
}

.main-cards .page {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
  background: url("../../../public/img/bg-cards.webp") no-repeat top center
      fixed,
    linear-gradient(to bottom, black, #222);
}

.main-cards .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: hidden;
  text-align: center;
  padding: 2vmin;
  width: 100%;
}

.main-cards .card-container {
  display: inline-block;
  perspective: 20em;
  position: relative;
  vertical-align: top;
  z-index: 1;
  border-radius: 1vmin;
  cursor: pointer;
  border: 1px solid transparent;
}

.main-cards .container-lock {
  filter: opacity(20%);
}

.main-cards .carousel-container {
  z-index: 1;
}

.main-cards .carousel-container,
.carousel-root,
.carousel,
.slider-wrapper,
.axis-horizontal,
.slider {
  height: 100% !important;
  width: 100%;
  text-align: center;
  min-height: 60vh;
}

.main-cards .slide {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  perspective: 20em;
}

.main-cards audio,
.main-cards video,
.main-cards iframe {
  max-width: 80%;
  border-radius: 1vmin;
}

.main-cards video {
  max-height: 50vh;
  height: 80%;
  object-fit: contain;
}

.main-cards .carousel-image {
  border-radius: 1vmin;
  margin: 1.5vmin 0;
}

.main-cards .deck-card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1rem;
  width: 100%;
}

.main-cards iframe {
  aspect-ratio: 1.77778;
}

.main-cards .control-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
}

.main-cards .card-selected .card-container {
  margin: 2vmin 0 2vmin 2vmin;
  cursor: default;
  overflow: hidden;
}

.main-cards .cards-container .card-container {
  margin-bottom: 0.5vmin;
  background-color: #22222288;
  border-radius: 0.5vmin;
  border: 1px solid #cccccc11;
  box-shadow: 0 1px 1px #000;
}

.main-cards .indicator-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vmin;
  padding: 1vmin;
  margin: 0 1vmin;
  opacity: 0.5;
  background-color: #00000060;
  border: 1px solid #ffffff33;
  cursor: pointer;
}

.main-cards .indicator-item--active,
.main-cards .indicator-item:hover {
  opacity: 1;
  border: 1px solid #ffffff33;
}

.main-cards .indicator-item--active {
  border: 1px solid #ffffff;
}

.main-cards .indicator-item:hover {
  border: 1px solid #ffffff;
}

.main-cards .indicator-item img {
  max-width: 32px;
  max-height: 32px;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
}

.main-cards .card {
  position: relative;
  background-size: cover;
  background-position: center center;
  aspect-ratio: 0.7143;
  overflow: hidden;
  pointer-events: none;
  text-align: left;
  z-index: 1; /* Changed from -1 to 1 */
}

.card-card {
  border-radius: 1.5vmin;
}

.card-deck {
  border-radius: 0.5vmin;
}

.main-cards .card-container:hover .card-caption {
  transition: 1s;
  opacity: 1;
}

.main-cards .deck-container:hover .card-caption {
  color: #fff;
}

.main-cards .card-container .card-caption {
  padding: 0.6vmin 0;
  margin-top: 0.4vmin;
  max-width: 10vw;
  font-size: 2vmin;
  pointer-events: none;
  position: relative;
  z-index: 0;
  width: 100%;
  opacity: 0.8;
  transition: 1s;
  text-shadow: 0 -1px 0 black;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-cards .card-caption div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  width: 100%;
}

.view-buttons.quick-links button {
  flex-direction: column;
}
.view-buttons.quick-links button div {
  font-size: xx-small;
}

.main-cards .cards-container .deck-container {
  background: radial-gradient(circle at bottom, #8a6c428e, #5f4c3288 50%);
  border-radius: 0.5vmin;
  border: 2px solid #cf964b55;
}

.main-cards .card-container .border-deck {
  border-top: 2px solid #ffffff88;
}

.main-cards .cards-container .deck-container:hover {
  background-color: #dfbb8c27;
  border: 2px solid #dbc8af55;
}

.main-cards .deck-container .deck-caption {
  font-variant: small-caps;
  color: #d8b990 !important;
}

.main-cards .card-container .caption-0 {
  color: #bbb;
}

.main-cards .card-container .caption-1 {
  color: #67ffc5;
}

.main-cards .card-container .caption-2 {
  color: #fff;
}

.main-cards .caption-3 {
  text-shadow: none;
  color: rgba(255, 255, 255, 0.5);
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  -webkit-background-clip: text;
  background-clip: text;
}

.main-cards .card-selected {
  transition: background 0.2s, color 0.6s;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, var(--hl-color), var(--bg-color) 36%);
  color: var(--fg-color);
  width: calc(100% - 4vmin);
  margin: 2vmin;
  border-radius: 1vmin;
  box-shadow: 0 0.25rem 1.5rem black;
}

.main-cards .card-selected .card {
  max-width: 286px;
  max-height: 400px;
  height: 100%;
}

.main-cards .card-container:hover {
  z-index: 2; /* Increased z-index when card-container is hovered */
  border-color: #ffffff66;
  box-shadow: none;
}

.main-cards .card-container:hover .card {
  z-index: 3; /* Set z-index higher than card-container when card is hovered */
}

.main-cards .card-holo {
  position: absolute;
  width: 100%;
  height: 100%;
  mix-blend-mode: color-dodge;
  background-size: 120%;
  background-repeat: no-repeat;
}

.main-cards .card-lenticular,
.main-cards .card-border,
.main-cards .card-locked {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.main-cards .card-locked {
  opacity: 0.8;
}

.main-cards .card-selected .card-locked {
  backdrop-filter: blur(5px);
}

.main-cards .border-0 {
  background-image: url("../../../public/img/cards/border-0.webp");
}
.main-cards .border-1 {
  background-image: url("../../../public/img/cards/border-1.webp");
}
.main-cards .border-2 {
  background-image: url("../../../public/img/cards/border-2.webp");
}
.main-cards .border-3 {
  background-image: url("../../../public/img/cards/border-3.webp");
}
.main-cards .border-deck {
  background-image: url("../../../public/img/cards/border-deck.webp");
}

.main-cards .locked-1 {
  background-image: url("../../../public/img/cards/border-bwc-1.webp");
}
.main-cards .locked-2 {
  background-image: url("../../../public/img/cards/border-bwc-2.webp");
}
.main-cards .locked-3 {
  background-image: url("../../../public/img/cards/border-bwc-3.webp");
}

.main-cards .card-expanded {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-cards .card-expanded .card-container {
  background: url("../../../public/img/bg-card-selected.webp") #333;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  position: relative;
}

.main-cards .card-expanded .card-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2vmin;
}

.main-cards .card-expanded .card-detail .card-title {
  margin-top: 1vmin;
  font-size: 3rem;
  padding: 1vmin;
  color: var(--bt-color);
  text-shadow: 0 0 0.5rem var(--hl-color);
  padding: 0 2vmin;
  text-align: center;
}

.main-cards .card-expanded .card-detail .deck-title {
  font-variant: small-caps;
}

.main-cards .card-expanded .card-detail .card-tagline {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 2vmin;
  margin-bottom: 2vmin;
}

.main-cards .card-expanded .card-detail .card-text {
  text-indent: 3rem;
  text-align: justify;
  padding: 0 2vmin;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.35);
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 1vmin;
  margin: 0 2vmin;
  border: 1px solid #ffffff11;
}

.main-cards .buttons {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  width: 100%;
}

.main-cards .buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  background: linear-gradient(to bottom, var(--hl-color), var(--hl-a-color));
  padding: 12px;
  font-size: 1.2rem;
  text-shadow: 0 1px 1.5px rgba(255, 255, 255, 0.5);
  text-decoration: none;
  border-radius: 1vmin;
  cursor: pointer;
  color: var(--bt-color);
  border-bottom: 2px solid var(--hl-b-color);
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.35);
  position: relative;
  margin: 2vmin 2vmin 0 2vmin;
}

.main-cards input {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 12px;
  border-radius: 1vmin;
  border: 1px solid #ffffff22;
  background: linear-gradient(to left, transparent, #111);
  color: #fff;
  box-shadow: 0 0 0.5rem #000000c0 inset;
  transition: 0.5s;
}

.main-cards input::placeholder {
  opacity: 0.4;
}

.main-cards input:hover {
  background: #dddddd08;
  box-shadow: 0 0 1rem #dddddd10 inset;
  transition: 0.5s;
  border: 1px solid #ffffff33;
}

.main-cards input:focus {
  background: #dddddd18;
  box-shadow: 0 0 0.2rem #ddddddaa inset;
  outline: 3px double rgba(70, 255, 240, 0.5);
  backdrop-filter: blur(2px);
  transition: 0s;
  border: 1px solid #ffffff00;
}

.main-cards .buttons a:hover,
.main-cards .buttons a:focus {
  text-shadow: none;
  background: var(--hl-a-color);
}

.main-cards .buttons a:active {
  position: relative;
  top: 2px;
  border-bottom: 2px solid transparent;
  background: var(--hl-b-color);
  box-shadow: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-cards .buttons a:not(:last-child) {
  margin-right: 1vmin;
}

.main-cards .buttons a:not(:first-child) {
  margin-left: 1vmin;
}

.main-cards .card-rarity {
  background-color: #000;
  position: absolute;
  bottom: 3.2%;
  right: 3.8%;
  width: 1.5rem !important;
  height: 1.5rem;
  max-width: 32px;
  max-height: 32px;
  padding: 2px;
  object-fit: contain;
}

.main-cards .card-rarity.lenticular {
  background-color: #fff;
}

.main-cards .card-category {
  background-color: #000;
  position: absolute;
  top: 3.2%;
  left: 3.8%;
  width: 1.5rem !important;
  height: 1.5rem;
  max-width: 32px;
  max-height: 32px;
  padding: 2px;
  object-fit: contain;
}

.main-cards .card-category-title {
  display: inline-block;
  width: 4vmin !important;
  height: 4vmin;
  max-width: 24px;
  max-height: 24px;
  margin-right: 0.6vmin;
  object-fit: contain;
  z-index: -1;
  opacity: 0.6;
}

.main-cards .card-deck {
  background-color: #000;
  position: absolute;
  top: 3.2%;
  left: 3.8%;
  width: 2vmax;
  height: 2vmax;
  max-width: 32px;
  max-height: 32px;
  padding: 2px;
  object-fit: contain;
}

.main-cards .card-id {
  position: absolute;
  top: 3.2%;
  left: calc(3.8% + 1.5rem);
  width: 100%;
  text-align: left;
  font-size: 1.2vmin;
  color: #fff;
  opacity: 0.8;
  font-family: monospace;
}

.main-cards .card-id span {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 0.2rem;
}

.main-cards .view-buttons.sort-buttons img {
  margin: 0;
  margin-right: 0.5rem;
}

.neon-effect {
  filter: saturate(0.5) brightness(80%) sepia(20%) contrast(90%);
  opacity: 0.3;
  animation: flicker 0.2s infinite;
  transition: 0.2s;
}

.neon-effect:hover {
  opacity: 1;
  animation: 0s;
  filter: saturate(1) brightness(130%) sepia(10%);
}

@keyframes flicker {
  0% {
    opacity: 0.28;
  }
  100% {
    opacity: 0.3;
  }
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}

.main-cards .cards-container .card-container {
  padding: 0.5vmin;
}

.main-cards .cards-container-large .card-container {
  opacity: 0;
  transition: opacity 1s ease;
}

.main-cards .cards-container .card-container.fade-in {
  opacity: 1;
}

.main-cards .card {
  animation-duration: 0s;
}

.main-cards .break {
  display: none;
}

.deck-sort-container {
  border-radius: 1vmin;
  overflow: hidden;
  margin: 2vmin 2vmin 0 2vmin;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.35);
  border: 1px solid #ffffff28;
}

.main-cards .deck-list-container {
  display: block;
  border-radius: 0 0 1vmin 1vmin;
}

.main-cards .deck-list {
  display: block;
  background-color: #00000035;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 11.7rem;
  font-family: monospace;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.075),
      transparent 8%,
      transparent
    )
    top;
  color: var(--bt-color);
}

.deck-sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: small;
  padding: 1vmin;
  background-color: rgba(255, 255, 255, 0.075);
  border-radius: 1vmin 1vmin 0 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.deck-sort .sort-by:first-child {
  margin-left: 2vmin;
}

.deck-sort .sort-by {
  cursor: pointer;
  padding: 0.5vmin 1vmin;
  margin: 0 0 0 1vmin;
  border: 1px solid #ffffff22;
  border-radius: 0.5vmin;
  color: var(--fg-color);
}

.deck-sort .sort-by:hover {
  color: var(--bt-color);
  border-color: var(--hl-color);
}

.deck-list .rowlink::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: calc(1rem + 2px);
}

.deck-list tr:not(:first-child) {
  border-top: 1px solid #ffffff18;
}

.deck-list tr:not(:last-child) {
  border-bottom: 1px solid #00000018;
}

.deck-sort .deck-list-header {
  margin-right: auto;
  margin-left: 1vmin;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-sort .sort {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deck-list td {
  margin: 0;
}

thead,
tbody tr {
  display: table;
  width: 100%;
}

.main-cards .deck-list img {
  height: 1rem;
  width: 1rem;
  object-fit: contain;
  vertical-align: middle;
  margin: 0 0.5rem;
}

.deck-list a {
  text-decoration: none;
  height: 100%;
  color: var(--bt-color);
}

.deck-list tr:hover a {
  color: var(--hl-color);
}

.deck-list td,
.deck-list th {
  width: auto;
  padding: 0;
}

.deck-list td .deck-card-id {
  background-color: var(--hl-color);
  color: var(--bt-color);
  opacity: 0.75;
}

.deck-list td .deck-card-tagline {
  opacity: 0.5;
}

.deck-list .min {
  width: 1%;
  white-space: nowrap;
}

.main-cards .deck-list tr:hover {
  background-color: var(--bt-color);
  border-color: transparent;
  color: var(--hl-color);
}

.main-cards .slide img {
  max-height: 60vh;
  width: 90%;
  object-fit: contain;
}

.main-cards .slide a {
  text-decoration: none;
  color: #eee;
}

.main-cards main {
  margin-bottom: 5vmin;
}

.main-cards main div {
  text-align: center;
  margin: auto;
}

.main-cards .cards-container button:focus .card-caption {
  background-color: #ffffff33;
  outline: 3px double #67ffc5;
  transition: 0s;
  border-radius: 0.5vmin;
}

.main-cards .control-dots {
  opacity: 0.3;
  transition: opacity 0.2s;
}

.main-cards .control-dots:hover {
  opacity: 1;
}

.main-cards .sort-filter {
  position: relative;
  justify-content: flex-end !important;
}

.main-cards .view-tools-dropdown-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  right: 2vmin;
}

.main-cards .view-tools-dropdown {
  opacity: 0;
  pointer-events: none;
  background-color: lightgray;
  border-radius: 1vmin;
  padding: 1vmin;
  z-index: 10;
  color: #fff;
  transition: opacity 0.2s;
  position: absolute;
  box-shadow: 0 0.2rem 0.2rem #00000066;
  border: 1px solid #000;
}

.main-cards .view-tools-dropdown button {
  display: block;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1vmin;
  margin: 0.2vmin 0 !important;
  border: 1px solid gray;
  background: rgb(235, 235, 235);
  color: #333;
  border-radius: 0.5vmin;
  justify-content: flex-end;
}

.main-cards .view-tools-dropdown hr {
  opacity: 0.2;
}

.main-cards .view-tools-dropdown.show,
.main-cards .view-tools-dropdown.show {
  opacity: 1;
  pointer-events: all;
}
.main-cards .sort-filter:active .view-tools-dropdown {
  top: calc(100% + 1vmin - 3px);
}

.main-cards .view-tools-dropdown button {
  margin: 0;
}

.main-cards .view-tools-dropdown button:active,
.main-cards .view-tools-dropdown button:focus {
  border: 1px solid #eee;
  background-color: #fff;
}

.main-cards .view-tools-dropdown button:hover:not(:disabled) {
  background-color: lightgray;
}

.main-cards .sort-filter div {
  margin: auto;
}

.main-cards .deck-icon {
  background-color: #000;
  border-radius: 0.25vw;
  position: absolute;
  right: 3vmin;
  top: 3vmin;
  opacity: 0.7;
}

.main-cards .deck-icon:hover {
  opacity: 1;
}

.main-cards .deck-icon img {
  padding: 0.2vmin;
  display: block;
  max-width: 3vmax;
  aspect-ratio: 1;
  object-fit: contain;
}

@media screen and (max-width: 1280px) {
  .main-cards .card-expanded {
    flex-direction: column;
  }

  .main-cards .card-expanded .card-container {
    min-height: 60vh;
    margin: 2vmin;
    margin-right: 4vmax;
  }

  .main-cards .card-selected {
    background: radial-gradient(
      circle at top center,
      var(--hl-color),
      var(--bg-color) 60%
    );
  }

  .main-cards .break {
    display: block;
    flex-basis: 100%;
    height: 0;
  }

  .main-cards .card-expanded {
    padding-bottom: 2vmin;
  }

  .main-cards .cards-container .card {
    width: 28vw;
  }
  .main-cards .card-container .card-caption {
    max-width: 28vw;
    font-size: 0.85rem;
  }

  .main-cards .card-expanded .card-detail .card-text {
    text-indent: 0;
    text-align: center;
  }
  .main-cards .card-selected .card {
    width: 100%;
    height: auto;
  }
  .main-cards input {
    width: 150%;
  }

  .main-cards .sort-filter div {
    font-size: small;
  }
  .main-cards .view-tools-dropdown {
    width: 37.22vw;
  }
}

@media not screen and (max-width: 1280px) {
  .main-cards .card-expanded .card-container {
    width: 50%;
  }

  .main-cards .cards-container .card {
    width: 10vw;
  }
  .main-cards .card-container .card-caption {
    max-width: 10vw;
  }
  .main-cards .card-selected .card {
    max-width: 30vw;
  }
  .main-cards input {
    width: 900%;
  }
  .main-cards .sort-filter div {
    font-size: smaller;
  }
  .main-cards .view-tools-dropdown {
    width: 20vw;
  }
}
