.main-doom {
  background-color: #300500;
  background-image: url("../../assets/images/doom/bg.jpg");
  background-attachment: fixed;
}

.main-doom .page {
  background: rgb(27, 27, 27);
  color: #7a7677;
}

.main-doom .container {
  position: relative;
  top: -3px;
  background: linear-gradient(180deg, rgb(64, 21, 19) 0%, rgb(27, 27, 27) 50%);
}

.main-doom header {
  display: flex;
  background: linear-gradient(to top, #401513, #0f0e0e);
  text-align: right;
  padding: 2rem;
  color: #c7783a;
  border-bottom: 1px solid #201817;
  max-height: 400px;
}

.main-doom nav a {
  color: #66594b;
  font-size: 1.1rem;
  padding: 0 1rem;
  text-decoration: none;
  text-shadow: 0 -0.1rem 0 #000;
}

.main-doom nav a:hover {
  color: #945603;
  text-shadow: 0 0 1rem #945603c0;
}

.main-doom .banner {
  width: 100%;
}

.main-doom .banner img {
  width: fit-content;
  height: auto;
}

.main-doom h1 {
  font-size: 3rem;
  margin: 0;
  text-shadow: 0 -0.3rem 0 #000;
}

.main-doom h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  font-size: 2.5rem;
  color: #d3995a;
  margin: 2rem 0;
}

.main-doom h2 div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-doom h2 img {
  height: 3.5rem;
  width: auto;
  margin-right: 1rem;
}

.main-doom h2 span {
  font-weight: normal;
  font-size: 1rem;
  opacity: 0.8;
}

.main-doom a {
  text-decoration: none;
  color: #c7783a;
}

.main-doom a:hover,
.main-doom a:active {
  color: #fff;
}

.main-doom article {
  padding: 1rem 5rem 0 5rem;
  text-align: justify;
}

.main-doom article p {
  margin-bottom: 2rem;
}

.main-doom .dev-progress ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.main-doom .screenshots {
  margin: 0;
}

.main-doom figure img {
  width: 100%;
  cursor: pointer;
}

.main-doom .carousel-controls {
  margin: 0;
  margin-bottom: 0.5rem;
  height: 2rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-doom .carousel-controls button {
  width: 50%;
  background-color: transparent;
  border: none;
  color: #7a7677;
  cursor: pointer;
  padding: 0;
  height: 1.5rem;
}

.main-doom .carousel-controls button:hover {
  color: #fff;
}

.main-doom figcaption {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.main-doom .button button {
  font-size: 1rem;
  padding: 0.75rem;
  background: linear-gradient(to bottom, #eea256, #c7783a);
  border: 0;
  border-radius: 0.2rem;
  color: #733809;
  text-shadow: 0 1px 1.5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-bottom: 2px solid #9c5d2d;
}

.main-doom .button button:hover,
.main-doom .button button:active {
  background: #eea256;
  text-shadow: none;
}

.main-doom .button button:active {
  background: #c7783a;
  color: #000;
  text-shadow: none;
  border-bottom: none;
  position: relative;
  top: 2px;
  border-bottom: 2px solid transparent;
}

@media screen and (max-width: 768px) {
  .main-doom header {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .main-doom h2 {
    text-align: center;
  }

  .main-doom .button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-doom .button button {
    text-align: center;
    margin: auto;
  }

  .main-doom .dev-progress li {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
  }

  .main-doom .feature {
    display: flex;
    flex-direction: column;
  }

  .main-doom .carousel {
    text-align: center;
    width: 100%;
    margin: 2rem 0;
    background-color: #212020;
  }
}

@media not screen and (max-width: 768px) {
  .main-doom header {
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
  }

  .main-doom .feature {
    display: flex;
    flex-direction: row;
  }

  .main-doom .button button {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
  }

  .main-doom .carousel {
    width: 100rem;
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: #212020;
  }
}
