.main-doom {
  background-color: #130f0c;
  background-image: url("../../assets/images/doom/bg.jpg");
  background-attachment: fixed;
}

.main-doom .page {
  background: rgb(27, 27, 27);
  color: #9c9799;
}

.main-doom .container {
  position: relative;
  top: -3px;
  background: linear-gradient(180deg, rgb(64, 21, 19) 0%, rgb(27, 27, 27) 50%);
}

.main-doom header {
  display: flex;
  background: linear-gradient(to top, #401513, #0f0e0e);
  text-align: right;
  padding: 2rem;
  color: #c7783a;
  border-bottom: 1px solid #201817;
  max-height: 400px;
}

.main-doom nav a {
  color: #9c9799;
  font-size: 1.1rem;
  padding: 0 1rem;
  text-decoration: none;
  text-shadow: 0 -0.1rem 0 #000;
}

.main-doom nav a:hover {
  color: #b66d0f;
  text-shadow: 0 0 1rem #945603c0;
}

.main-doom .banner {
  width: 100%;
}

.main-doom .banner img {
  width: fit-content;
  height: auto;
}

.main-doom h1 {
  font-size: 3rem;
  margin: 0;
  text-shadow: 0 -0.3rem 0 #000;
}

.main-doom h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: normal;
  font-size: 2.5rem;
  color: #d3995a;
  margin: 2rem 0;
}

.main-doom h2 div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main-doom h2 img {
  height: 3.5rem;
  width: auto;
}

.main-doom h2 span {
  font-weight: normal;
  font-size: 1rem;
  opacity: 0.8;
}

.main-doom a {
  text-decoration: none;
  color: #c7783a;
}

.main-doom a:hover,
.main-doom a:active {
  color: #fff;
}

.main-doom article {
  text-align: justify;
}

.main-doom article p {
  margin-bottom: 2rem;
}

.main-doom .dev-progress ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.main-doom .screenshots {
  margin: 0;
}

.main-doom figure img {
  width: 100%;
  cursor: pointer;
  background-color: #000;
}

.main-doom .carousel-controls {
  margin: 0;
  margin-bottom: 0.5rem;
  height: 2rem;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.main-doom .carousel-controls button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: transparent;
  border: none;
  color: #7a7677;
  cursor: pointer;
  padding: 0;
  font-size: 2rem;
  height: 1.5rem;
}

.main-doom .carousel-controls button:hover {
  color: #fff;
}

.main-doom figcaption {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.main-doom .button button,
.main-doom .card button {
  font-size: 1rem;
  padding: 0.75rem;
  background: linear-gradient(to bottom, #eea256, #c7783a);
  border: 0;
  border-radius: 0.2rem;
  color: #733809;
  text-shadow: 0 1px 1.5px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-bottom: 2px solid #9c5d2d;
}

.main-doom .button button:hover,
.main-doom .button button:active,
.main-doom .card button:hover,
.main-doom .card button:active {
  background: #eea256;
  text-shadow: none;
}

.main-doom .button button:active,
.main-doom .card button:active {
  background: #c7783a;
  color: #000;
  text-shadow: none;
  border-bottom: none;
  position: relative;
  top: 2px;
  border-bottom: 2px solid transparent;
}

.main-doom .doom-cards {
  text-align: center;
}

.main-doom .card {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 15rem;
  max-width: 20rem;
  width: 30vw;
  border-radius: 1rem;
  aspect-ratio: 0.672;
  margin: 2rem;
  text-align: center;
  transition: 0.5s ease-out;
  box-shadow: 0 0 0 black;
  padding: 0.5rem;
  color: #fff;
  vertical-align: top;
  background-size: cover;
  overflow: hidden;
}

.main-doom .card h3 {
  margin-bottom: auto;
  text-shadow: 0 0 0.2rem black;
  font-weight: normal;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.main-doom .card * {
  margin: 0;
}

.main-doom .card a {
  width: 100%;
}

.main-doom .card .desc {
  text-shadow: 0 -0.1rem 0.2rem black;
  font-size: 0.9rem;
}

.main-doom .card button {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
}

.main-doom .card-requirements {
  font-size: 0.7rem;
  opacity: 0.5;
}

.main-doom .card:hover {
  transform: scale(1.1);
  transition: 0.5s ease-out;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.main-doom #dumb {
  background-image: linear-gradient(
      to bottom,
      transparent,
      transparent 66.6%,
      black
    ),
    url("../../../public/img/doom-cards/dumb.jpg");
}

.main-doom #atv {
  background-image: linear-gradient(
      to bottom,
      transparent,
      transparent 66.6%,
      black
    ),
    url("../../../public/img/doom-cards/atv.jpg");
}

.main-doom #bb {
  background-image: linear-gradient(
      to bottom,
      transparent,
      transparent 66.6%,
      black
    ),
    url("../../../public/img/doom-cards/bb.jpg");
}

.main-doom #m {
  background-image: linear-gradient(
      to bottom,
      transparent,
      transparent 66.6%,
      black
    ),
    url("../../../public/img/doom-cards/m.jpg");
}

@media screen and (max-width: 768px) {
  .main-doom header {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .main-doom article {
    padding: 1rem 2rem 0 2rem;
  }

  .main-doom h2 {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-doom h2 img {
    margin-bottom: 2rem;
  }

  .main-doom .button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-doom .button button {
    text-align: center;
    margin: auto;
  }

  .main-doom .dev-progress li {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.25);
  }

  .main-doom .feature {
    display: flex;
    flex-direction: column;
  }

  .main-doom .carousel {
    text-align: center;
    width: 100%;
    margin: 2rem 0;
    background-color: #212020;
  }
  .main-doom .card {
    font-size: smaller;
  }
}

@media not screen and (max-width: 768px) {
  .main-doom header {
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
  }

  .main-doom article {
    padding: 1rem 5rem 0 5rem;
  }

  .main-doom h2 img {
    margin-right: 1rem;
  }

  .main-doom .feature {
    display: flex;
    flex-direction: row;
  }

  .main-doom .button button {
    text-align: center;
    margin: auto;
    margin-top: 2rem;
  }

  .main-doom .carousel {
    width: 100rem;
    margin-top: 1rem;
    margin-left: 2rem;
    background-color: #212020;
  }
}
